@import "~u/smart-grid.scss";
@import "~u/basic.scss";

.wrapper {
	flex-basis: 100%;
	@include flex;
	background: darken($cRed, 15%);
	opacity: 0.9;
	color: $cWhite;
	position: relative;
	z-index: 1;
} 

section.userMenuWrapper{
	position: absolute;
	top: 40px;
	right: 0;
}

.row {
	@include row-flex;
}

.fixed {
	position: fixed;
	@include wrapper;
	@include row-flex;
	@include lg(width, auto);
	max-width: 100%;
	top: 0;
	right: 0;
	left: 0;
	z-index: 1;
}

.fakeMenu {
	width: 100%;
	height: $menuHeight;
}

.placeholder{
	flex-grow: 1000;
}

@mixin menuBtn {
	@include button;
	@include flat;
	@include flex;
	margin-left: 3px;
	margin-right: 3px;
}

.userBtn{
	@include menuBtn;
	background: url("./id-card.svg") no-repeat center;
	background-size: contain;
}

.filterBtn{
	@include menuBtn;
	max-height: 30px;
	background: url("./filter.svg") no-repeat center;
	background-size: contain;
}

.randomizeBtn{
	@include menuBtn;
	max-height: 30px;
	background: url("./dice.svg") no-repeat center;
	background-size: contain;
}

.calendarBtn{
	@include menuBtn;
	max-height: 30px;
	background: url("./calendar.svg") no-repeat center;
	background-size: contain;
}

.label {
	user-select: none;
	@include xs(display, none);
}