@import "~u/smart-grid.scss";
@import "~u/basic.scss";

.wrapper {
	@include row-flex;
	padding: 5px;
	color: $cWhite;
	align-items: center;

	background-color: lighten($cBackground, 25%);

	&_even {
		background-color: lighten($cBackground, 15%);
	}

	&_selectable {
		font-size: inherit;
	}
}

@media (hover) {
	.wrapper_selectable:hover {
		background-color: $cRed-transp;
		color: $cWhite;
	}
}

.header {
	background-color: $cBackground !important;
}

@mixin debug {
	outline: 1px solid blue;
}

@mixin itemBase {
	// @include debug;
	flex-grow: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: default;
}

.tags {
	display: flex;
	flex-wrap: wrap;
}

.tag {
	background: $cRed;
	border-radius: 3px;
	margin: 2px;
	padding: 2px 5px;
	font-size: 0.8em;
	font-style: italic;
}

.tagsWrapper {
	@include size(12);
	display: flex;
	align-items: center;
	align-self: center;
}

.name {
	@include itemBase;
	@include size(4);
	justify-content: flex-start;
}

.players {
	@include itemBase;
	@include size(1);
	@include xs(display, none);
	@include md(display, none)
}

.mods {
	@include itemBase;
	@include size(1.5);
}

.island {
	@include itemBase;
	@include size(2);
	@include xs(display, none);
}

.rateAvg {
	@include itemBase;
	@include size(1);
	@include xs(display, none)
}

.author {
	@include itemBase;
	@include size(1.5);
	@include xs(display, none);
	@include md(display, none);
}

.lastPlayed {
	@include itemBase;
	@include size(1.5);
	@include xs(display, none)
}

.probability {
	@include itemBase;
	@include size(1);
}

.add {
	@include itemBase;
	@include size(1);
	min-width: 21px;
	max-width: 21px;
	// min-height: 100%;
	border-radius: $buttonBorderRadius;
}

.link {
	// text-decoration: ;
	color: $cWhite;
}

.addBtn {
	@extend .add;
	@include button;
	@include flat;
	width: 21px !important;
	height: 21px !important;
	background-color: $cWhite;
	display: flex;
	position: relative;

	&Line {
		width: auto;
		// max-width: fit-content;
		max-width: max-content;
		align-self: center;
		margin: 8px;
	}

	&_inSchedule {
		background-color: $cGreen;
	}
}

.maximazedItemWrapper {
	display: flex;
	flex-direction: row;
	// @include row-flex;
	flex-wrap: wrap;
	justify-content: space-between;
	flex-basis: 100%;
}

.column {
	// @include debug;
	display: flex;
	flex-direction: column;

	@include size(8);
	@include size-sm(12);
}

.columnRate {
	// @include debug;
	display: flex;
	flex-direction: column;
	justify-content: center;

	@include size(4);
	@include size-sm(12);
}

.line {
	align-self: center;
	padding-top: 2px;
	padding-bottom: 2px;
	@include size(12);
	font-size: 0.9em;
}

strong {
	color: darken($cWhite, 3%);
	letter-spacing: 1px;
}

.maximazedName {
	margin-bottom: 5px;
}

.rateHeader {
	font-size: 1em;
	font-weight: 300;
}

.rateList {
	padding-left: 15px;
}

.rateBtn {
	margin-left: 50px;
}

.rateElement {
	font-size: 0.9em;
	display: flex;
	justify-content: space-between;
	margin: 5px 0;

	&>input {
		@include size(4);
		margin-right: 10px;
	}
}

.rateStarsWrapper {
	max-width: 150px;
	max-height: 30px;
	min-height: 0.9em;
	flex-grow: 1;
}

li label {
	align-self: center;
}

.buttonWrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.hint {
	padding: 5px;
	font-size: 0.8em;
	font-style: italic;
	margin-bottom: 10px;
	text-align: center;
}

.invisible {
	visibility: hidden;
}