@import "~u/smart-grid.scss";
@import "~u/basic.scss";


.wrapper{
 	display: flex;
 	flex-basis: 100%;
	color: $cWhite;
	text-align: center;
	background-color: $cBackground;

	font-family: 'Russo One', sans-serif;
	font-size: 24px;
	@include md(font-size, 16px);
	@include xs(font-size, 14px);
 
}

.rbcLogo{
	height: 100px;
	min-height: 70px;
	filter: sepia(10%);
	@include xs(height, 70px);
}

.text {
	align-self: center;
	flex-grow: 1;
	cursor: default;
}

span {
	white-space: nowrap;
	color: lighten($cRed, 5%);
	color: $cRed;
	font-size: 30px;
	letter-spacing: 3px;
	@include md(font-size, 20px);
	@include xs(font-size, 15px);
}