@import "~u/smart-grid.scss";

$buttonBorderRadius: 3px;
$cWhite: #FEFFEF;
$cBlack: #292926;
$cBackground: rgba(0, 0, 0, 0.3);;
$cRed: #D43D4B;
$cRed-transp: rgba(212, 61, 75, 0.3);

$menuHeight: 40px;

@mixin button {
	width: 40px;
	height: 40px;
	border-radius: $buttonBorderRadius*2;
	overflow: hidden;
	position: relative;
	transition-duration: 0.5s;
	// z-index: -1;

	&:focus {
		outline: none;
	}

	&:after {
		content: "";
		display: block;
		background-color: $cRed;
		opacity: 0;
		border-radius: $buttonBorderRadius;
		padding-top: 100%;
		padding-left: 100%;
		position: absolute;
		transition: opacity 0.6s, margin 0.5s, padding 0.5s;
	}
	
	&:active:after {
		padding: 0;
		opacity: 1;
		transition: 0s
	}
}

@mixin selectable {
	&:hover{
		background-color: $cRed-transp;
		border-radius: 5px;
		color: $cWhite;
	}
}

.selectable {
	@include selectable;
}

@mixin flat {
	border : none;
	background-color: transparent;
}



@mixin flex {
	display: flex;
	justify-content: center;
	align-items: center;
}