@import "~u/smart-grid.scss";
@import "~u/basic.scss";

body {
	font-family: 'Ubuntu', sans-serif;
	font-size: 16px;
}

a,
input,
button,
textarea {
	-webkit-appearance: none;
	-webkit-border-radius: 0;
}

.wrapper {
	@include wrapper;	
	position: relative;
	min-width: 300px;

	&:before {
		content: "";
		position: fixed;
		left: 0; 
		width: 100%;
		height: 100%;
		opacity: 0.9;
		filter: sepia(100%);
		background: url("./setwalls-big.jpg") center;
		z-index: -100;
	}
}


.row {
	@include row-flex;
}

h2 {
	@include row-flex;
	justify-content: center;
	align-items: center;
	margin-top: 0;
	margin-bottom: 0;
	padding: 5px;
	font-size: 1em;
	color: $cWhite;
	background-color: $cBackground;	
}